# editors
.vscode
*.swp
*~

# python
.venv

# build
/build*
/twister-out*

__pycache__/
.github/copilot-instructions.md
/temp_docs
CLAUDE.md
add_license_headers.sh
CMakeFiles
CMakeCache.txt
.github/copilot-instructions.md
