
// ProtoCentral Electronics (info@protocentral.com)
// SPDX-License-Identifier: Apache-2.0

&spi1 {
	sdhc0: sdhc@1 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <1>;
		status = "okay";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};
		spi-max-frequency = <24000000>;
	};
};
