///delete-node/ &flash0;

/delete-node/ &code_partition;
/delete-node/ &storage_partition;

&flash0 {
	reg = <0x10000000 DT_SIZE_M(16)>;

	partitions {

		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserved memory for the second stage bootloader */
		second_stage_bootloader: partition@0 {
			label = "second_stage_bootloader";
			reg = <0x00000000 0x100>;
			read-only;
		};

		boot_partition: partition@100 {
            label = "mcuboot";
            reg = <0x100 0xF000>;
			read-only;
        };

		/*
		 * Usable flash. Starts at 0x100, after the bootloader. The partition
		 * size is 2MB minus the 0x100 bytes taken by the bootloader.
		 */

		/* Reserve 1024kB for the application in slot 0 */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x10000 0x00100000>;
		};

		/* Reserve 1024kB for the application in slot 1 */
		slot1_partition: partition@110000 {
			label = "image-1";
			reg = <0x110000 0x00100000>;
		};

		/*scratch_partition: partition@111000 {
			label = "image-scratch";
			reg = <0x111000 DT_SIZE_M(x)>;
		};*/

		storage_partition: partition@211000 {
			label = "storage";
			reg = <0x211000 DT_SIZE_M(8)>;
		};
	};
};


/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};