
// ProtoCentral Electronics (info@protocentral.com)
// SPDX-License-Identifier: Apache-2.0

/ {
	chosen {
		zephyr,display = &ili9488; 
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		reset-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		spi-dev = <&spi1>;
		#address-cells = <1>;
		#size-cells = <0>;
	
		ili9488: ili9488@0 {
			compatible = "ilitek,ili9488";
			reg = <0>;
			mipi-max-frequency = <32000000>;
			rotation = <270>;
			width = <480>;
			height = <320>;
	
			frmctr1 = [ a0 11  ];
			pwctrl1 = [ 17 15  ];
			pwctrl2 = [ 41  ];
			pgamctrl = [ 00 03 09 08 16 0a 3f 78 4c 09 0a 08 16 1a 0f  ];
			ngamctrl = [ 00 16 19 03 0f 05 32 45 46 04 0e 0d 35 37 0f  ];
		};
	};
};

&pwm {
	status = "okay";
	divider-int-4 = <255>;
};